extends layout

include include/player_mixins.pug

block content
  - if(player.constructor !== Array) player = [player]
  if showForm
    +addPlayerForm()
    +searchForm()
  each player_i in player
    +playerEntry(player_i)
